<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="../">Blog.API</a></li>
        <li class="is-active"><a href="#" aria-current="page">blogView</a></li>
    </ul>
</nav>
<section class="hero is-medium has-background">
        <img alt="YumYum" class="hero-background" src="https://artifact{{.Host}}v1/upload/file/{{.Data.ImageKey}}" />
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-white">
                {{.Data.Title}}
            </h1>
        </div>
    </div>
</section>
<br>
<!-- main content -->
<div class="main-content">
    <div class="container">
        <div class="columns is-mobile">
            <!-- side bar -->
            <div class="column is-4 is-narrow">
                <div class="section">
                    <div class="sidebar">
                        <!-- side bar header-->
                        <div class="sidebar-header-single">
                            <h4 class="title is-4">{{.Data.Title}}</h4>
                            <h5 class="subtitle is-5">Author: {{.Data.WrittenBy}}</h5>
                        </div>
                        <!-- end of side bar header -->
                        <!-- side bar content -->
                        
                        <!-- end of side bar content -->
                        <!-- side bar footer -->
                        <div class="sidebar-footer-single">
                            <p><a href="/">Back to Home</a></p>
                        </div>
                        <!-- end of side bar footer -->
                    </div>
                </div>
            </div>
            <!-- end of side bar -->
            <!-- post -->
            <div class="column is-8">
                <div class="section">
                    <div class="post-single">
                        <div class="post-single-content">
                            {{.Data.Content | str2html}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of post -->
        </div>
    </div>
</div>
{{template "_shared/comment.html" .}}