<div class="main-header">
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-centered">
                    <div class="column is-7 has-text-centered">
                        <div class="buffer">
                            <h3 class="title is-3">A blog</h3>
                        </div>
                        <div class="buffer">
                            <h4 class="subtitle is-4">I mean, really</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main header -->

<!-- main content -->
<div class="main-content">
    <div class="container">
        <div class="columns is-mobile">
            <!-- side bar -->
            <div class="column is-4 is-narrow">
                <div class="section">
                    <div class="sidebar">
                        <!-- side bar header-->
                        <div class="sidebar-header-single">
                            <h4 class="title is-4">Some Post</h4>
                            <h5 class="subtitle is-5">A Subtitle</h5>
                        </div>
                        <!-- end of side bar header -->
                        <!-- side bar content -->
                        <div class="sidebar-list-single">
                            <p>Posted on July 9th 2018, 10:00am</p>
                            <p>Written by Dirk</p>
                        </div>
                        <!-- end of side bar content -->
                        <!-- side bar footer -->
                        <div class="sidebar-footer-single">
                            <p><a href="index.html">Back to Home</a></p>
                        </div>
                        <!-- end of side bar footer -->
                    </div>
                </div>
            </div>
            <!-- end of side bar -->
            <!-- post -->
            <div class="column is-8">
                <div class="section">
                    <div class="post-single">
                        <div class="post-single-content">
                            <p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
                            <p>Bla Bla Bla Bla Bla Bla koele Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
                            <p>Bla Bla Bla Bla Bla Bla Bla Bla Bla kruis Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
                            <p>Bla Bla Bla Bla Bla Bla Bla koeloe Bla kroos Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
                            <p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of post -->
        </div>
    </div>
</div>
<!-- end of main content -->
</div>
<div class="columns">
    <div class="column left">
        <figure class="image is-3x2">
            <img class="is-square" src="images/road1.jpg">
        </figure>
    </div>
    <div class="column center">
        <figure class="image is-3x2">
            <img class="is-square" src="images/BMWlogo1.jpg">
        </figure>
    </div>
    <div class="column right">
        <figure class="image is-3x2">
            <img class="is-square" src="images/sign.jpg">
        </figure>
    </div>
</div>