{{template "layout.html" .}}
{{define "mainlayout"}}
    <section class="hero is-medium herocolour">
        <!-- Begin Hero Content-->
        <div class="hero-body"
             style="background:linear-gradient(rgba(0, 0, 1, 0.4), rgba(0, 0, 2, 0.40)), rgba(0, 0, 0, 0.4) url('{{ index .Endpoints "artifact"}}/download/{{.Data.Article.ImageKey}}') no-repeat;">
            <div class="container has-text-centered">
                <h2 class="title colourTertiary is-1">{{.Data.Article.Title}}</h2>
                <h1 class="subtitle colourPrimary profession is-3">
                    <b>{{.Data.Article.Intro}}</b></h1>
            </div>
        </div>
    </section>
    <div class="main-content is-white-ter colourPrimary">
        <div class="box">
            <div class="container">
                <div class="content">{{.Data.Article.Content}}</div>
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{.Data.Article.WrittenBy}}</p>
                                <p class="subtitle is-6">
                                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {{template "comment.html" .}}
            </div>
        </div>
    </div>
{{end}}