<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="../">Blog.API</a></li>
        <li class="is-active"><a href="#" aria-current="page">blogView</a></li>
    </ul>
</nav>
<section class="hero is-medium is-primary has-background">
        <img alt="Fill Murray" class="hero-background is-transparent" src="https://artifact{{.Host}}v1/upload/file/{{.ImageKey}}" />
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{.Data.Title}}
            </h1>
        </div>
    </div>
</section>
<br>
<!-- main content -->
<div class="main-content">
    <div class="container">
        <div class="columns is-mobile">
            <!-- side bar -->
            <div class="column is-4 is-narrow">
                <div class="section">
                    <div class="sidebar">
                        <!-- side bar header-->
                        <div class="sidebar-header-single">
                            <h4 class="title is-4">{{.Data.Title}}</h4>
                            <h5 class="subtitle is-5">A Subtitle</h5>
                        </div>
                        <!-- end of side bar header -->
                        <!-- side bar content -->
                        <div class="sidebar-list-single">

                            <p>{{.Data.WrittenBy}}</p>
                        </div>
                        <!-- end of side bar content -->
                        <!-- side bar footer -->
                        <div class="sidebar-footer-single">
                            <p><a href="/">Back to Home</a></p>
                        </div>
                        <!-- end of side bar footer -->
                    </div>
                </div>
            </div>
            <!-- end of side bar -->
            <!-- post -->
            <div class="column is-8">
                <div class="section">
                    <div class="post-single">
                        <div class="post-single-content">
                            {{.Data.Content}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of post -->
        </div>
    </div>
</div>

<!-- end of main content -->
<div class="columns">
    <div class="column left">
        <figure class="image is-3x2">
            <img class="is-square" src="images/road1.jpg">
        </figure>
    </div>
    <div class="column center">
        <figure class="image is-3x2">
            <img class="is-square" src="images/BMWlogo1.jpg">
        </figure>
    </div>
    <div class="column right">
        <figure class="image is-3x2">
            <img class="is-square" src="images/sign.jpg">
        </figure>
    </div>
</div>