{{template "master.html" .}}
{{define "layoutcontent"}}
    <div class="box">
        <div class="row columns is-multiline">
            {{$artUrl := .Identity.GetResourceURL "artifact"}}
            {{if .Data.Records}}
                {{range $key, $val := .Data.Records}}
                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{$artUrl}}/download/{{$val.V.ImageKey}}" alt="article image"/>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title no-padding"><a
                                                    href="/blog/articles/{{$val.K}}">{{$val.V.Title}}</a>
                                        </p>
                                        <p class="subtitle">Author:{{$val.V.WrittenBy}}</p>
                                        <nav class="level is-mobile">
                                            <div class="level-left">
                                                <a class="level-item">
                                                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                                </a>
                                                <a class="level-item">
                                                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                                </a>
                                                <a class="level-item">
                                                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                                </a>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                                <div class="content">
                                    {{$val.V.Intro}}
                                    <br>
                                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                    <a href="/blog/articles/{{$val.K}}">Read Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{end}}
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    {{if .Data.Previous}}
                        <a href="{{.Data.Previous}}" class="pagination-previous">Previous</a>
                    {{end}}
                    <a href="{{.Data.Next}}" class="pagination-next">Next</a>
                </nav>
            {{else}}
                <div class="notification">
                    <strong>No Articles Found</strong>, we are still writing.
                </div>
            {{end}}
        </div>
    </div>
{{end}}