<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="../">Blog.API</a></li>
        <li class="is-active"><a href="#" aria-current="page">blogView</a></li>
    </ul>
</nav>
<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                View Blog
            </h1>
        </div>
    </div>
</section>
<br>
{{range $key, $val := .Data}}
<article class="media">
    <figure class="media-left">
        <p class="sidebar-header-single">
            <h4 class="title is-4"><a href="/article/{{$val.K}}">{{$val.V.Title}}</a></h4>
        </p>
        <p>
            {{$val.V.WrittenBy}}
        </p>
        <p>
            13 July, 2019
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                {{$val.V.Content}}
            </p>
        </div>
        <nav class="level is-mobile">
            <div class="level-left">
                <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
            </div>
        </nav>
    </div>
</article>
{{end}}