<section class="hero is-dark">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{.Data.Title}}</h1>
            <p class="subtitle">{{.Data.Description}}</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <div class="columns is-centered" style="padding: 2rem">
            {{$host := .Host}}
            {{range $key, $val := .Data.Headers}}
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <img src="https://artifact{{$host}}v1/upload/file/{{$val.ImageKey}}" alt="header image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{$val.Heading}}</p>
                                <!--<p class="subtitle is-6">{{$val.Text}}</p>-->
                            </div>
                        </div>

                        <div class="content">
                            {{$val.Text}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h2 class="title">Services</h2>

        <div class="tile is-ancestor">
            {{range $key, $val := .Data.PortfolioItems}}
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://artifact{{$host}}v1/upload/file/{{$val.ImageKey}}">
                    </figure>
                    <p class="title">{{$val.Name}}</p>
                    <!--<p class="subtitle">Portfolio API</p>-->
                    <a class="button" href="{{$val.URL}}">View</a>
                </article>
            </div>
            {{end}}
        </div>
    </div>
</section>

<section class="section" id="contact">
    <div class="container has-text-centered">
        <h2 class="title">Contact</h2>

        <form id="frmContact" role="form" data-toggle="validator">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input class="input" type="text" id="txtName" required placeholder="Name">
                            <p class="help is-danger"></p>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input class="input" type="tel" minlength="10" maxlength="10" id="txtContact" required
                                placeholder="Contact">
                            <p class="help is-danger"></p>
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" id="txtEmail" required placeholder="Email">
                            <p class="help is-danger"></p>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" rows="5" required id="txtMessage"
                                placeholder="Message us"></textarea>
                            <p class="help is-danger"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" data-to="{{.Data.ContactEmail}}" id="btnSend">
                                Send
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                {{range $key, $val := .Data.SocialLinks}}
                <a href="{{$val.URL}}" target="_blank">
                    <i class="fab {{$val.Icon}} fa-2x"></i>
                </a>
                {{end}}
            </p>
        </div>
    </div>
</footer>