<section class="hero is-dark">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{.Data.Title}}</h1>
            <p class="subtitle">{{.Data.Description}}</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <div class="columns is-centered" style="padding: 2rem">
            {{template "carousel.html" .}}
        </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h2 class="title">Services</h2>

        <div class="tile is-ancestor">
            {{$host := .Host}}
            {{range $key, $val := .Data.PortfolioItems}}
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://artifact{{$host}}download/{{$val.ImageKey}}">
                    </figure>
                    <p class="title">{{$val.Name}}</p>
                    <!--<p class="subtitle">Portfolio API</p>-->
                    <a class="button" href="{{$val.URL}}">View</a>
                </article>
            </div>
            {{end}}
        </div>
    </div>
</section>

<section class="section" id="contact">
    {{ template "contact.html" .}}
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                {{range $key, $val := .Data.SocialLinks}}
                <a href="{{$val.URL}}" target="_blank">
                    <i class="fab {{$val.Icon}} fa-2x"></i>
                </a>
                {{end}}
            </p>
        </div>
    </div>
</footer>