<!-- Begin Scroll Up Button -->
<button id="toTop" title="Go to top">
    <i class="fas fa-angle-up"></i>
</button>
{{.}}
<!-- End Scroll Up Button -->
<!-- Begin Header -->
<div class="header-wrapper" id="home">
    <!-- Begin Hero -->
    <section class="hero is-medium">
        <!-- Begin Mobile Nav -->
        <nav class="navbar is-transparent is-hidden-desktop">
            <!-- Begin Burger Menu -->
            <div class="navbar-brand">
                <div class="navbar-burger burger" data-target="mobile-nav">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- End Burger Menu -->
            <div id="mobile-nav" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a class="navbar-item" href="/">
                            Home
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-item" href="#about-us">
                            {{.Data.CMS.SectionA.Heading}}
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-item" href="#services">
                            {{.Data.CMS.SectionB.Heading}}
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-item" href="#services">
                            {{.Data.CMS.Info.Heading}}
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-item" href="#contact">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Mobile Nav -->
        <!-- Begin Hero Content-->
        <div class="hero-body has-text-centered">
            <h1 class="title is-1">{{.Data.CMS.Banner.Text}}</h1>
        </div>
        <!-- End Hero Content-->
        <!-- Begin Hero Menu -->
        <div class="hero-foot ">
            <div class="hero-foot--wrapper">
                <div class="columns">
                    <div class="column is-12 hero-menu-desktop has-text-centered">
                        <ul>
                            <li class="is-active">
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="#about-us">{{.Data.CMS.SectionA.Heading}}</a>
                            </li>
                            <li>
                                <a href="#services">{{.Data.CMS.SectionB.Heading}}</a>
                            </li>
                            <li>
                                <a href="#services">{{.Data.CMS.Info.Heading}}</a>
                            </li>
                            <li>
                                <a href="#contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Hero Menu -->
    </section>
    <!-- End Hero -->
</div>
<!-- End Header -->
<!-- Begin Main Content -->
<div class="main-content">
    <!-- Begin About Us Section -->
    <div class="section-light about-us" id="about-us">
        <div class="container">
            <div class="column is-12 about-us">

            </div>
            <div class="columns is-multiline">
                <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
                    <h1 class="title is-1 colourA">{{.Data.CMS.SectionA.Heading}}</h1>
                    <p class="is-size-5">
                        {{.Data.CMS.SectionA.Text}}
                    </p>
                    <div class="is-divider"></div>
                </div>
                <div class="column is-6 right-image " data-aos="fade-left">
                    <img class="is-rounded" src="{{ .Identity.GetResourceURL "artifact" }}/download/{{.Data.CMS.SectionA.ImageKey}}" alt="avosa software"/>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Me Content -->
    <div class="section-dark resume">
        <div class="container">
            <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
                <div class="column is-12 about-me">
                    <h1 class="title is-1 has-text-centered colourA">
                        {{.Data.CMS.SectionB.Heading}}
                    </h1>
                </div>
                <div class="column is-10 is-offset-1">
                    <h2 class="subtitle is-4 has-text-white">
                        <b>
                            {{.Data.CMS.SectionB.Text}}
                        </b>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Services Content -->
    <div class="has-background-dark section-color services" id="services">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12 about-me" data-aos="fade-in" data-aos-easing="linear">
                    <h1 class="title has-text-centered is-1">
                        {{.Data.CMS.Info.Heading}}</h1>

                    <h2 class="subtitle">
                        {{.Data.CMS.Info.Text}}
                    </h2>
                    <br/>
                </div>
                <div class="columns is-12">
                    {{range $_, $v := .Data.CMS.Info.Blocks}}
                    <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
                        <i class="fas {{$v.Icon}} fa-3x colourA"></i>
                        <hr/>
                        <h2>
                            {{$v.Text}}
                        </h2>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
{{template "contactus.html".}}