<section class="hero is-marginless is-paddingless">
    <div id="syncarousel">
        {{template "carousel.html" .}}
    </div>
</section>
<div style="padding-top: 2em"></div>
<section class="hero has-background-white-ter">
    <div class="hero-body is-marginless is-paddingless">
            <h1 class="title has-text-centered">{{.Data.Title}}</h1>
            <p class="subtitle">{{.Data.Description}}</p>
    </div>
</section>
<div style="padding-top: 2em"></div>
<section class="hero">
    <div class="hero-body has-text-centered is-paddingless is-marginless">
        <h2 class="title">Services</h2>

        <div class="tile is-ancestor">
            {{$host := .Identity.Host}}
            {{range $key, $val := .Data.PortfolioItems}}
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://artifact{{$host}}download/{{$val.ImageKey}}">
                    </figure>
                    <p class="title">{{$val.Name}}</p>
                    <!--<p class="subtitle">Portfolio API</p>-->
                    <a class="button" href="{{$val.URL}}">View</a>
                </article>
            </div>
            {{end}}
        </div>
    </div>
</section>
<div style="padding-top: 2em"></div>


    <div id="contact">
        {{ template "contact.html" .}}
    </div>
 